##feature-scaling

### 4 types -:
- Standard Scaler
- Min max
- Quantile 
- Absolute max

In [1]:
#STANDARD SCALER

from sklearn.preprocessing import StandardScaler
arr = [[31, 67, 98], [54, 99, 1900], [1, -999, 765]]
sc = StandardScaler()
res = sc.fit_transform(arr)
print(sc.mean_)
print(sc.scale_)
print(res)

[  28.66666667 -277.66666667  921.        ]
[ 21.6999744  510.22696475 743.8875363 ]
[[ 0.10752701  0.67551637 -1.10635003]
 [ 1.16743609  0.73823356  1.31605915]
 [-1.2749631  -1.41374993 -0.20970912]]

In [2]:
#MIN MAX

from sklearn.preprocessing import MinMaxScaler
arr = [[31, 67, 98], [54, 99, 1900], [1, -999, 765]]
sc = MinMaxScaler(feature_range=[3, 10])
res = sc.fit_transform(arr)
# print(sc.mean_)
# print(sc.scale_)
print(res)

[[ 6.96226415  9.79599271  3.        ]
 [10.         10.         10.        ]
 [ 3.          3.          5.59100999]]

In [3]:
#QUANTILE

from sklearn.preprocessing import QuantileTransformer
arr = [[31, 67, 98], [54, 99, 1900], [1, -999, 765]]
sc = QuantileTransformer()
res = sc.fit_transform(arr)
# print(sc.mean_)
# print(sc.scale_)
print(res)

[[0.5 0.5 0. ]
 [1.  1.  1. ]
 [0.  0.  0.5]]

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:2593: UserWarning: n_quantiles (1000) is greater than the total number of samples (3). n_quantiles is set to n_samples.
  "n_samples." % (self.n_quantiles, n_samples)

In [4]:
#MAX ABSOLUTE 

from sklearn.preprocessing import MaxAbsScaler
arr = [[31, 67, 98], [54, 99, 1900], [1, -999, 765]]
sc = MaxAbsScaler()
res = sc.fit_transform(arr)
# print(sc.mean_)
# print(sc.scale_)
print(res)

[[ 0.57407407  0.06706707  0.05157895]
 [ 1.          0.0990991   1.        ]
 [ 0.01851852 -1.          0.40263158]]

##handling-null-values

###Two ways to handle missing values
- drop the corresponding data
- to replace it with mean or median

In [10]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [12]:
import pandas as pd
import numpy as np
import io
df = pd.read_csv(io.BytesIO(uploaded['train.csv']))         
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [13]:
# 1. drop the missing values

df = df.dropna(axis=1)
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

In [14]:
# 2. replace it with mean

import numpy as np
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values=np.NaN, strategy='constant', fill_value=100)
si.fit_transform([[1,2,3],[4,np.NaN,6],[10,5,9]])

array([[  1.,   2.,   3.],
       [  4., 100.,   6.],
       [ 10.,   5.,   9.]])

In [15]:
# Prepocessing techniques
# Involves formattting and making data clean for better performance of model
# Missing values, Encoding Categorical data: onehot encoder using dummy variables(0 or 1),
# Feature scaling: rescale data to specific range, includes standard scaler, minmaxscaler etc


from sklearn.impute import SimpleImputer
import numpy as np
X=[[1,2,3],[4,np.NaN,5],[6,7,8]]
imp=SimpleImputer(missing_values=np.NaN,strategy='mean')
print(imp.fit_transform(X))

[[1.  2.  3. ]
 [4.  4.5 5. ]
 [6.  7.  8. ]]

In [16]:
import pandas as pd
X=[[1,2,3],[4,np.NaN,5],[6,7,8]]
df=pd.DataFrame(X)
df

   0    1  2
0  1  2.0  3
1  4  NaN  5
2  6  7.0  8

In [17]:
print(df.fillna(10))

   0     1  2
0  1   2.0  3
1  4  10.0  5
2  6   7.0  8

In [18]:
from sklearn.datasets import load_iris
iris=load_iris()
print(iris)

{'data': array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]]), 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]), 'frame': None, 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'), 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...', 'feature_names': ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'], 'filename': 'iris.csv', 'data_module': 'sklearn.datasets.data'}

In [19]:
X,y=load_iris(return_X_y=True)

In [20]:
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [21]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [22]:
# data get rescaled such that mean=0 and standard deviation=1
from sklearn.preprocessing import StandardScaler  
scaler=StandardScaler()
print(scaler.fit(X))
print(scaler.transform(X))

StandardScaler()
[[-9.00681170e-01  1.01900435e+00 -1.34022653e+00 -1.31544430e+00]
 [-1.14301691e+00 -1.31979479e-01 -1.34022653e+00 -1.31544430e+00]
 [-1.38535265e+00  3.28414053e-01 -1.39706395e+00 -1.31544430e+00]
 [-1.50652052e+00  9.82172869e-02 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  1.24920112e+00 -1.34022653e+00 -1.31544430e+00]
 [-5.37177559e-01  1.93979142e+00 -1.16971425e+00 -1.05217993e+00]
 [-1.50652052e+00  7.88807586e-01 -1.34022653e+00 -1.18381211e+00]
 [-1.02184904e+00  7.88807586e-01 -1.28338910e+00 -1.31544430e+00]
 [-1.74885626e+00 -3.62176246e-01 -1.34022653e+00 -1.31544430e+00]
 [-1.14301691e+00  9.82172869e-02 -1.28338910e+00 -1.44707648e+00]
 [-5.37177559e-01  1.47939788e+00 -1.28338910e+00 -1.31544430e+00]
 [-1.26418478e+00  7.88807586e-01 -1.22655167e+00 -1.31544430e+00]
 [-1.26418478e+00 -1.31979479e-01 -1.34022653e+00 -1.44707648e+00]
 [-1.87002413e+00 -1.31979479e-01 -1.51073881e+00 -1.44707648e+00]
 [-5.25060772e-02  2.16998818e+00 -1.45390138e+00 -1.31544430e+00]
 [-1.73673948e-01  3.09077525e+00 -1.28338910e+00 -1.05217993e+00]
 [-5.37177559e-01  1.93979142e+00 -1.39706395e+00 -1.05217993e+00]
 [-9.00681170e-01  1.01900435e+00 -1.34022653e+00 -1.18381211e+00]
 [-1.73673948e-01  1.70959465e+00 -1.16971425e+00 -1.18381211e+00]
 [-9.00681170e-01  1.70959465e+00 -1.28338910e+00 -1.18381211e+00]
 [-5.37177559e-01  7.88807586e-01 -1.16971425e+00 -1.31544430e+00]
 [-9.00681170e-01  1.47939788e+00 -1.28338910e+00 -1.05217993e+00]
 [-1.50652052e+00  1.24920112e+00 -1.56757623e+00 -1.31544430e+00]
 [-9.00681170e-01  5.58610819e-01 -1.16971425e+00 -9.20547742e-01]
 [-1.26418478e+00  7.88807586e-01 -1.05603939e+00 -1.31544430e+00]
 [-1.02184904e+00 -1.31979479e-01 -1.22655167e+00 -1.31544430e+00]
 [-1.02184904e+00  7.88807586e-01 -1.22655167e+00 -1.05217993e+00]
 [-7.79513300e-01  1.01900435e+00 -1.28338910e+00 -1.31544430e+00]
 [-7.79513300e-01  7.88807586e-01 -1.34022653e+00 -1.31544430e+00]
 [-1.38535265e+00  3.28414053e-01 -1.22655167e+00 -1.31544430e+00]
 [-1.26418478e+00  9.82172869e-02 -1.22655167e+00 -1.31544430e+00]
 [-5.37177559e-01  7.88807586e-01 -1.28338910e+00 -1.05217993e+00]
 [-7.79513300e-01  2.40018495e+00 -1.28338910e+00 -1.44707648e+00]
 [-4.16009689e-01  2.63038172e+00 -1.34022653e+00 -1.31544430e+00]
 [-1.14301691e+00  9.82172869e-02 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  3.28414053e-01 -1.45390138e+00 -1.31544430e+00]
 [-4.16009689e-01  1.01900435e+00 -1.39706395e+00 -1.31544430e+00]
 [-1.14301691e+00  1.24920112e+00 -1.34022653e+00 -1.44707648e+00]
 [-1.74885626e+00 -1.31979479e-01 -1.39706395e+00 -1.31544430e+00]
 [-9.00681170e-01  7.88807586e-01 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  1.01900435e+00 -1.39706395e+00 -1.18381211e+00]
 [-1.62768839e+00 -1.74335684e+00 -1.39706395e+00 -1.18381211e+00]
 [-1.74885626e+00  3.28414053e-01 -1.39706395e+00 -1.31544430e+00]
 [-1.02184904e+00  1.01900435e+00 -1.22655167e+00 -7.88915558e-01]
 [-9.00681170e-01  1.70959465e+00 -1.05603939e+00 -1.05217993e+00]
 [-1.26418478e+00 -1.31979479e-01 -1.34022653e+00 -1.18381211e+00]
 [-9.00681170e-01  1.70959465e+00 -1.22655167e+00 -1.31544430e+00]
 [-1.50652052e+00  3.28414053e-01 -1.34022653e+00 -1.31544430e+00]
 [-6.58345429e-01  1.47939788e+00 -1.28338910e+00 -1.31544430e+00]
 [-1.02184904e+00  5.58610819e-01 -1.34022653e+00 -1.31544430e+00]
 [ 1.40150837e+00  3.28414053e-01  5.35408562e-01  2.64141916e-01]
 [ 6.74501145e-01  3.28414053e-01  4.21733708e-01  3.95774101e-01]
 [ 1.28034050e+00  9.82172869e-02  6.49083415e-01  3.95774101e-01]
 [-4.16009689e-01 -1.74335684e+00  1.37546573e-01  1.32509732e-01]
 [ 7.95669016e-01 -5.92373012e-01  4.78571135e-01  3.95774101e-01]
 [-1.73673948e-01 -5.92373012e-01  4.21733708e-01  1.32509732e-01]
 [ 5.53333275e-01  5.58610819e-01  5.35408562e-01  5.27406285e-01]
 [-1.14301691e+00 -1.51316008e+00 -2.60315415e-01 -2.62386821e-01]
 [ 9.16836886e-01 -3.62176246e-01  4.78571135e-01  1.32509732e-01]
 [-7.79513300e-01 -8.22569778e-01  8.07091462e-02  2.64141916e-01]
 [-1.02184904e+00 -2.43394714e+00 -1.46640561e-01 -2.62386821e-01]
 [ 6.86617933e-02 -1.31979479e-01  2.51221427e-01  3.95774101e-01]
 [ 1.89829664e-01 -1.97355361e+00  1.37546573e-01 -2.62386821e-01]
 [ 3.10997534e-01 -3.62176246e-01  5.35408562e-01  2.64141916e-01]
 [-2.94841818e-01 -3.62176246e-01 -8.98031345e-02  1.32509732e-01]
 [ 1.03800476e+00  9.82172869e-02  3.64896281e-01  2.64141916e-01]
 [-2.94841818e-01 -1.31979479e-01  4.21733708e-01  3.95774101e-01]
 [-5.25060772e-02 -8.22569778e-01  1.94384000e-01 -2.62386821e-01]
 [ 4.32165405e-01 -1.97355361e+00  4.21733708e-01  3.95774101e-01]
 [-2.94841818e-01 -1.28296331e+00  8.07091462e-02 -1.30754636e-01]
 [ 6.86617933e-02  3.28414053e-01  5.92245988e-01  7.90670654e-01]
 [ 3.10997534e-01 -5.92373012e-01  1.37546573e-01  1.32509732e-01]
 [ 5.53333275e-01 -1.28296331e+00  6.49083415e-01  3.95774101e-01]
 [ 3.10997534e-01 -5.92373012e-01  5.35408562e-01  8.77547895e-04]
 [ 6.74501145e-01 -3.62176246e-01  3.08058854e-01  1.32509732e-01]
 [ 9.16836886e-01 -1.31979479e-01  3.64896281e-01  2.64141916e-01]
 [ 1.15917263e+00 -5.92373012e-01  5.92245988e-01  2.64141916e-01]
 [ 1.03800476e+00 -1.31979479e-01  7.05920842e-01  6.59038469e-01]
 [ 1.89829664e-01 -3.62176246e-01  4.21733708e-01  3.95774101e-01]
 [-1.73673948e-01 -1.05276654e+00 -1.46640561e-01 -2.62386821e-01]
 [-4.16009689e-01 -1.51316008e+00  2.38717193e-02 -1.30754636e-01]
 [-4.16009689e-01 -1.51316008e+00 -3.29657076e-02 -2.62386821e-01]
 [-5.25060772e-02 -8.22569778e-01  8.07091462e-02  8.77547895e-04]
 [ 1.89829664e-01 -8.22569778e-01  7.62758269e-01  5.27406285e-01]
 [-5.37177559e-01 -1.31979479e-01  4.21733708e-01  3.95774101e-01]
 [ 1.89829664e-01  7.88807586e-01  4.21733708e-01  5.27406285e-01]
 [ 1.03800476e+00  9.82172869e-02  5.35408562e-01  3.95774101e-01]
 [ 5.53333275e-01 -1.74335684e+00  3.64896281e-01  1.32509732e-01]
 [-2.94841818e-01 -1.31979479e-01  1.94384000e-01  1.32509732e-01]
 [-4.16009689e-01 -1.28296331e+00  1.37546573e-01  1.32509732e-01]
 [-4.16009689e-01 -1.05276654e+00  3.64896281e-01  8.77547895e-04]
 [ 3.10997534e-01 -1.31979479e-01  4.78571135e-01  2.64141916e-01]
 [-5.25060772e-02 -1.05276654e+00  1.37546573e-01  8.77547895e-04]
 [-1.02184904e+00 -1.74335684e+00 -2.60315415e-01 -2.62386821e-01]
 [-2.94841818e-01 -8.22569778e-01  2.51221427e-01  1.32509732e-01]
 [-1.73673948e-01 -1.31979479e-01  2.51221427e-01  8.77547895e-04]
 [-1.73673948e-01 -3.62176246e-01  2.51221427e-01  1.32509732e-01]
 [ 4.32165405e-01 -3.62176246e-01  3.08058854e-01  1.32509732e-01]
 [-9.00681170e-01 -1.28296331e+00 -4.30827696e-01 -1.30754636e-01]
 [-1.73673948e-01 -5.92373012e-01  1.94384000e-01  1.32509732e-01]
 [ 5.53333275e-01  5.58610819e-01  1.27429511e+00  1.71209594e+00]
 [-5.25060772e-02 -8.22569778e-01  7.62758269e-01  9.22302838e-01]
 [ 1.52267624e+00 -1.31979479e-01  1.21745768e+00  1.18556721e+00]
 [ 5.53333275e-01 -3.62176246e-01  1.04694540e+00  7.90670654e-01]
 [ 7.95669016e-01 -1.31979479e-01  1.16062026e+00  1.31719939e+00]
 [ 2.12851559e+00 -1.31979479e-01  1.61531967e+00  1.18556721e+00]
 [-1.14301691e+00 -1.28296331e+00  4.21733708e-01  6.59038469e-01]
 [ 1.76501198e+00 -3.62176246e-01  1.44480739e+00  7.90670654e-01]
 [ 1.03800476e+00 -1.28296331e+00  1.16062026e+00  7.90670654e-01]
 [ 1.64384411e+00  1.24920112e+00  1.33113254e+00  1.71209594e+00]
 [ 7.95669016e-01  3.28414053e-01  7.62758269e-01  1.05393502e+00]
 [ 6.74501145e-01 -8.22569778e-01  8.76433123e-01  9.22302838e-01]
 [ 1.15917263e+00 -1.31979479e-01  9.90107977e-01  1.18556721e+00]
 [-1.73673948e-01 -1.28296331e+00  7.05920842e-01  1.05393502e+00]
 [-5.25060772e-02 -5.92373012e-01  7.62758269e-01  1.58046376e+00]
 [ 6.74501145e-01  3.28414053e-01  8.76433123e-01  1.44883158e+00]
 [ 7.95669016e-01 -1.31979479e-01  9.90107977e-01  7.90670654e-01]
 [ 2.24968346e+00  1.70959465e+00  1.67215710e+00  1.31719939e+00]
 [ 2.24968346e+00 -1.05276654e+00  1.78583195e+00  1.44883158e+00]
 [ 1.89829664e-01 -1.97355361e+00  7.05920842e-01  3.95774101e-01]
 [ 1.28034050e+00  3.28414053e-01  1.10378283e+00  1.44883158e+00]
 [-2.94841818e-01 -5.92373012e-01  6.49083415e-01  1.05393502e+00]
 [ 2.24968346e+00 -5.92373012e-01  1.67215710e+00  1.05393502e+00]
 [ 5.53333275e-01 -8.22569778e-01  6.49083415e-01  7.90670654e-01]
 [ 1.03800476e+00  5.58610819e-01  1.10378283e+00  1.18556721e+00]
 [ 1.64384411e+00  3.28414053e-01  1.27429511e+00  7.90670654e-01]
 [ 4.32165405e-01 -5.92373012e-01  5.92245988e-01  7.90670654e-01]
 [ 3.10997534e-01 -1.31979479e-01  6.49083415e-01  7.90670654e-01]
 [ 6.74501145e-01 -5.92373012e-01  1.04694540e+00  1.18556721e+00]
 [ 1.64384411e+00 -1.31979479e-01  1.16062026e+00  5.27406285e-01]
 [ 1.88617985e+00 -5.92373012e-01  1.33113254e+00  9.22302838e-01]
 [ 2.49201920e+00  1.70959465e+00  1.50164482e+00  1.05393502e+00]
 [ 6.74501145e-01 -5.92373012e-01  1.04694540e+00  1.31719939e+00]
 [ 5.53333275e-01 -5.92373012e-01  7.62758269e-01  3.95774101e-01]
 [ 3.10997534e-01 -1.05276654e+00  1.04694540e+00  2.64141916e-01]
 [ 2.24968346e+00 -1.31979479e-01  1.33113254e+00  1.44883158e+00]
 [ 5.53333275e-01  7.88807586e-01  1.04694540e+00  1.58046376e+00]
 [ 6.74501145e-01  9.82172869e-02  9.90107977e-01  7.90670654e-01]
 [ 1.89829664e-01 -1.31979479e-01  5.92245988e-01  7.90670654e-01]
 [ 1.28034050e+00  9.82172869e-02  9.33270550e-01  1.18556721e+00]
 [ 1.03800476e+00  9.82172869e-02  1.04694540e+00  1.58046376e+00]
 [ 1.28034050e+00  9.82172869e-02  7.62758269e-01  1.44883158e+00]
 [-5.25060772e-02 -8.22569778e-01  7.62758269e-01  9.22302838e-01]
 [ 1.15917263e+00  3.28414053e-01  1.21745768e+00  1.44883158e+00]
 [ 1.03800476e+00  5.58610819e-01  1.10378283e+00  1.71209594e+00]
 [ 1.03800476e+00 -1.31979479e-01  8.19595696e-01  1.44883158e+00]
 [ 5.53333275e-01 -1.28296331e+00  7.05920842e-01  9.22302838e-01]
 [ 7.95669016e-01 -1.31979479e-01  8.19595696e-01  1.05393502e+00]
 [ 4.32165405e-01  7.88807586e-01  9.33270550e-01  1.44883158e+00]
 [ 6.86617933e-02 -1.31979479e-01  7.62758269e-01  7.90670654e-01]]

In [23]:
# data get rescaled between 0-1 range
from sklearn.preprocessing import MinMaxScaler 
scaler=MinMaxScaler()
print(scaler.fit_transform(X))

[[0.22222222 0.625      0.06779661 0.04166667]
 [0.16666667 0.41666667 0.06779661 0.04166667]
 [0.11111111 0.5        0.05084746 0.04166667]
 [0.08333333 0.45833333 0.08474576 0.04166667]
 [0.19444444 0.66666667 0.06779661 0.04166667]
 [0.30555556 0.79166667 0.11864407 0.125     ]
 [0.08333333 0.58333333 0.06779661 0.08333333]
 [0.19444444 0.58333333 0.08474576 0.04166667]
 [0.02777778 0.375      0.06779661 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.30555556 0.70833333 0.08474576 0.04166667]
 [0.13888889 0.58333333 0.10169492 0.04166667]
 [0.13888889 0.41666667 0.06779661 0.        ]
 [0.         0.41666667 0.01694915 0.        ]
 [0.41666667 0.83333333 0.03389831 0.04166667]
 [0.38888889 1.         0.08474576 0.125     ]
 [0.30555556 0.79166667 0.05084746 0.125     ]
 [0.22222222 0.625      0.06779661 0.08333333]
 [0.38888889 0.75       0.11864407 0.08333333]
 [0.22222222 0.75       0.08474576 0.08333333]
 [0.30555556 0.58333333 0.11864407 0.04166667]
 [0.22222222 0.70833333 0.08474576 0.125     ]
 [0.08333333 0.66666667 0.         0.04166667]
 [0.22222222 0.54166667 0.11864407 0.16666667]
 [0.13888889 0.58333333 0.15254237 0.04166667]
 [0.19444444 0.41666667 0.10169492 0.04166667]
 [0.19444444 0.58333333 0.10169492 0.125     ]
 [0.25       0.625      0.08474576 0.04166667]
 [0.25       0.58333333 0.06779661 0.04166667]
 [0.11111111 0.5        0.10169492 0.04166667]
 [0.13888889 0.45833333 0.10169492 0.04166667]
 [0.30555556 0.58333333 0.08474576 0.125     ]
 [0.25       0.875      0.08474576 0.        ]
 [0.33333333 0.91666667 0.06779661 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.04166667]
 [0.19444444 0.5        0.03389831 0.04166667]
 [0.33333333 0.625      0.05084746 0.04166667]
 [0.16666667 0.66666667 0.06779661 0.        ]
 [0.02777778 0.41666667 0.05084746 0.04166667]
 [0.22222222 0.58333333 0.08474576 0.04166667]
 [0.19444444 0.625      0.05084746 0.08333333]
 [0.05555556 0.125      0.05084746 0.08333333]
 [0.02777778 0.5        0.05084746 0.04166667]
 [0.19444444 0.625      0.10169492 0.20833333]
 [0.22222222 0.75       0.15254237 0.125     ]
 [0.13888889 0.41666667 0.06779661 0.08333333]
 [0.22222222 0.75       0.10169492 0.04166667]
 [0.08333333 0.5        0.06779661 0.04166667]
 [0.27777778 0.70833333 0.08474576 0.04166667]
 [0.19444444 0.54166667 0.06779661 0.04166667]
 [0.75       0.5        0.62711864 0.54166667]
 [0.58333333 0.5        0.59322034 0.58333333]
 [0.72222222 0.45833333 0.66101695 0.58333333]
 [0.33333333 0.125      0.50847458 0.5       ]
 [0.61111111 0.33333333 0.61016949 0.58333333]
 [0.38888889 0.33333333 0.59322034 0.5       ]
 [0.55555556 0.54166667 0.62711864 0.625     ]
 [0.16666667 0.16666667 0.38983051 0.375     ]
 [0.63888889 0.375      0.61016949 0.5       ]
 [0.25       0.29166667 0.49152542 0.54166667]
 [0.19444444 0.         0.42372881 0.375     ]
 [0.44444444 0.41666667 0.54237288 0.58333333]
 [0.47222222 0.08333333 0.50847458 0.375     ]
 [0.5        0.375      0.62711864 0.54166667]
 [0.36111111 0.375      0.44067797 0.5       ]
 [0.66666667 0.45833333 0.57627119 0.54166667]
 [0.36111111 0.41666667 0.59322034 0.58333333]
 [0.41666667 0.29166667 0.52542373 0.375     ]
 [0.52777778 0.08333333 0.59322034 0.58333333]
 [0.36111111 0.20833333 0.49152542 0.41666667]
 [0.44444444 0.5        0.6440678  0.70833333]
 [0.5        0.33333333 0.50847458 0.5       ]
 [0.55555556 0.20833333 0.66101695 0.58333333]
 [0.5        0.33333333 0.62711864 0.45833333]
 [0.58333333 0.375      0.55932203 0.5       ]
 [0.63888889 0.41666667 0.57627119 0.54166667]
 [0.69444444 0.33333333 0.6440678  0.54166667]
 [0.66666667 0.41666667 0.6779661  0.66666667]
 [0.47222222 0.375      0.59322034 0.58333333]
 [0.38888889 0.25       0.42372881 0.375     ]
 [0.33333333 0.16666667 0.47457627 0.41666667]
 [0.33333333 0.16666667 0.45762712 0.375     ]
 [0.41666667 0.29166667 0.49152542 0.45833333]
 [0.47222222 0.29166667 0.69491525 0.625     ]
 [0.30555556 0.41666667 0.59322034 0.58333333]
 [0.47222222 0.58333333 0.59322034 0.625     ]
 [0.66666667 0.45833333 0.62711864 0.58333333]
 [0.55555556 0.125      0.57627119 0.5       ]
 [0.36111111 0.41666667 0.52542373 0.5       ]
 [0.33333333 0.20833333 0.50847458 0.5       ]
 [0.33333333 0.25       0.57627119 0.45833333]
 [0.5        0.41666667 0.61016949 0.54166667]
 [0.41666667 0.25       0.50847458 0.45833333]
 [0.19444444 0.125      0.38983051 0.375     ]
 [0.36111111 0.29166667 0.54237288 0.5       ]
 [0.38888889 0.41666667 0.54237288 0.45833333]
 [0.38888889 0.375      0.54237288 0.5       ]
 [0.52777778 0.375      0.55932203 0.5       ]
 [0.22222222 0.20833333 0.33898305 0.41666667]
 [0.38888889 0.33333333 0.52542373 0.5       ]
 [0.55555556 0.54166667 0.84745763 1.        ]
 [0.41666667 0.29166667 0.69491525 0.75      ]
 [0.77777778 0.41666667 0.83050847 0.83333333]
 [0.55555556 0.375      0.77966102 0.70833333]
 [0.61111111 0.41666667 0.81355932 0.875     ]
 [0.91666667 0.41666667 0.94915254 0.83333333]
 [0.16666667 0.20833333 0.59322034 0.66666667]
 [0.83333333 0.375      0.89830508 0.70833333]
 [0.66666667 0.20833333 0.81355932 0.70833333]
 [0.80555556 0.66666667 0.86440678 1.        ]
 [0.61111111 0.5        0.69491525 0.79166667]
 [0.58333333 0.29166667 0.72881356 0.75      ]
 [0.69444444 0.41666667 0.76271186 0.83333333]
 [0.38888889 0.20833333 0.6779661  0.79166667]
 [0.41666667 0.33333333 0.69491525 0.95833333]
 [0.58333333 0.5        0.72881356 0.91666667]
 [0.61111111 0.41666667 0.76271186 0.70833333]
 [0.94444444 0.75       0.96610169 0.875     ]
 [0.94444444 0.25       1.         0.91666667]
 [0.47222222 0.08333333 0.6779661  0.58333333]
 [0.72222222 0.5        0.79661017 0.91666667]
 [0.36111111 0.33333333 0.66101695 0.79166667]
 [0.94444444 0.33333333 0.96610169 0.79166667]
 [0.55555556 0.29166667 0.66101695 0.70833333]
 [0.66666667 0.54166667 0.79661017 0.83333333]
 [0.80555556 0.5        0.84745763 0.70833333]
 [0.52777778 0.33333333 0.6440678  0.70833333]
 [0.5        0.41666667 0.66101695 0.70833333]
 [0.58333333 0.33333333 0.77966102 0.83333333]
 [0.80555556 0.41666667 0.81355932 0.625     ]
 [0.86111111 0.33333333 0.86440678 0.75      ]
 [1.         0.75       0.91525424 0.79166667]
 [0.58333333 0.33333333 0.77966102 0.875     ]
 [0.55555556 0.33333333 0.69491525 0.58333333]
 [0.5        0.25       0.77966102 0.54166667]
 [0.94444444 0.41666667 0.86440678 0.91666667]
 [0.55555556 0.58333333 0.77966102 0.95833333]
 [0.58333333 0.45833333 0.76271186 0.70833333]
 [0.47222222 0.41666667 0.6440678  0.70833333]
 [0.72222222 0.45833333 0.74576271 0.83333333]
 [0.66666667 0.45833333 0.77966102 0.95833333]
 [0.72222222 0.45833333 0.69491525 0.91666667]
 [0.41666667 0.29166667 0.69491525 0.75      ]
 [0.69444444 0.5        0.83050847 0.91666667]
 [0.66666667 0.54166667 0.79661017 1.        ]
 [0.66666667 0.41666667 0.71186441 0.91666667]
 [0.55555556 0.20833333 0.6779661  0.75      ]
 [0.61111111 0.41666667 0.71186441 0.79166667]
 [0.52777778 0.58333333 0.74576271 0.91666667]
 [0.44444444 0.41666667 0.69491525 0.70833333]]

In [24]:
from sklearn.preprocessing import MaxAbsScaler
scaler=MaxAbsScaler()
print(scaler.fit_transform(X))

[[0.64556962 0.79545455 0.20289855 0.08      ]
 [0.62025316 0.68181818 0.20289855 0.08      ]
 [0.59493671 0.72727273 0.1884058  0.08      ]
 [0.58227848 0.70454545 0.2173913  0.08      ]
 [0.63291139 0.81818182 0.20289855 0.08      ]
 [0.6835443  0.88636364 0.24637681 0.16      ]
 [0.58227848 0.77272727 0.20289855 0.12      ]
 [0.63291139 0.77272727 0.2173913  0.08      ]
 [0.55696203 0.65909091 0.20289855 0.08      ]
 [0.62025316 0.70454545 0.2173913  0.04      ]
 [0.6835443  0.84090909 0.2173913  0.08      ]
 [0.60759494 0.77272727 0.23188406 0.08      ]
 [0.60759494 0.68181818 0.20289855 0.04      ]
 [0.5443038  0.68181818 0.15942029 0.04      ]
 [0.73417722 0.90909091 0.17391304 0.08      ]
 [0.72151899 1.         0.2173913  0.16      ]
 [0.6835443  0.88636364 0.1884058  0.16      ]
 [0.64556962 0.79545455 0.20289855 0.12      ]
 [0.72151899 0.86363636 0.24637681 0.12      ]
 [0.64556962 0.86363636 0.2173913  0.12      ]
 [0.6835443  0.77272727 0.24637681 0.08      ]
 [0.64556962 0.84090909 0.2173913  0.16      ]
 [0.58227848 0.81818182 0.14492754 0.08      ]
 [0.64556962 0.75       0.24637681 0.2       ]
 [0.60759494 0.77272727 0.27536232 0.08      ]
 [0.63291139 0.68181818 0.23188406 0.08      ]
 [0.63291139 0.77272727 0.23188406 0.16      ]
 [0.65822785 0.79545455 0.2173913  0.08      ]
 [0.65822785 0.77272727 0.20289855 0.08      ]
 [0.59493671 0.72727273 0.23188406 0.08      ]
 [0.60759494 0.70454545 0.23188406 0.08      ]
 [0.6835443  0.77272727 0.2173913  0.16      ]
 [0.65822785 0.93181818 0.2173913  0.04      ]
 [0.69620253 0.95454545 0.20289855 0.08      ]
 [0.62025316 0.70454545 0.2173913  0.08      ]
 [0.63291139 0.72727273 0.17391304 0.08      ]
 [0.69620253 0.79545455 0.1884058  0.08      ]
 [0.62025316 0.81818182 0.20289855 0.04      ]
 [0.55696203 0.68181818 0.1884058  0.08      ]
 [0.64556962 0.77272727 0.2173913  0.08      ]
 [0.63291139 0.79545455 0.1884058  0.12      ]
 [0.56962025 0.52272727 0.1884058  0.12      ]
 [0.55696203 0.72727273 0.1884058  0.08      ]
 [0.63291139 0.79545455 0.23188406 0.24      ]
 [0.64556962 0.86363636 0.27536232 0.16      ]
 [0.60759494 0.68181818 0.20289855 0.12      ]
 [0.64556962 0.86363636 0.23188406 0.08      ]
 [0.58227848 0.72727273 0.20289855 0.08      ]
 [0.67088608 0.84090909 0.2173913  0.08      ]
 [0.63291139 0.75       0.20289855 0.08      ]
 [0.88607595 0.72727273 0.68115942 0.56      ]
 [0.81012658 0.72727273 0.65217391 0.6       ]
 [0.87341772 0.70454545 0.71014493 0.6       ]
 [0.69620253 0.52272727 0.57971014 0.52      ]
 [0.82278481 0.63636364 0.66666667 0.6       ]
 [0.72151899 0.63636364 0.65217391 0.52      ]
 [0.79746835 0.75       0.68115942 0.64      ]
 [0.62025316 0.54545455 0.47826087 0.4       ]
 [0.83544304 0.65909091 0.66666667 0.52      ]
 [0.65822785 0.61363636 0.56521739 0.56      ]
 [0.63291139 0.45454545 0.50724638 0.4       ]
 [0.74683544 0.68181818 0.60869565 0.6       ]
 [0.75949367 0.5        0.57971014 0.4       ]
 [0.7721519  0.65909091 0.68115942 0.56      ]
 [0.70886076 0.65909091 0.52173913 0.52      ]
 [0.84810127 0.70454545 0.63768116 0.56      ]
 [0.70886076 0.68181818 0.65217391 0.6       ]
 [0.73417722 0.61363636 0.5942029  0.4       ]
 [0.78481013 0.5        0.65217391 0.6       ]
 [0.70886076 0.56818182 0.56521739 0.44      ]
 [0.74683544 0.72727273 0.69565217 0.72      ]
 [0.7721519  0.63636364 0.57971014 0.52      ]
 [0.79746835 0.56818182 0.71014493 0.6       ]
 [0.7721519  0.63636364 0.68115942 0.48      ]
 [0.81012658 0.65909091 0.62318841 0.52      ]
 [0.83544304 0.68181818 0.63768116 0.56      ]
 [0.86075949 0.63636364 0.69565217 0.56      ]
 [0.84810127 0.68181818 0.72463768 0.68      ]
 [0.75949367 0.65909091 0.65217391 0.6       ]
 [0.72151899 0.59090909 0.50724638 0.4       ]
 [0.69620253 0.54545455 0.55072464 0.44      ]
 [0.69620253 0.54545455 0.53623188 0.4       ]
 [0.73417722 0.61363636 0.56521739 0.48      ]
 [0.75949367 0.61363636 0.73913043 0.64      ]
 [0.6835443  0.68181818 0.65217391 0.6       ]
 [0.75949367 0.77272727 0.65217391 0.64      ]
 [0.84810127 0.70454545 0.68115942 0.6       ]
 [0.79746835 0.52272727 0.63768116 0.52      ]
 [0.70886076 0.68181818 0.5942029  0.52      ]
 [0.69620253 0.56818182 0.57971014 0.52      ]
 [0.69620253 0.59090909 0.63768116 0.48      ]
 [0.7721519  0.68181818 0.66666667 0.56      ]
 [0.73417722 0.59090909 0.57971014 0.48      ]
 [0.63291139 0.52272727 0.47826087 0.4       ]
 [0.70886076 0.61363636 0.60869565 0.52      ]
 [0.72151899 0.68181818 0.60869565 0.48      ]
 [0.72151899 0.65909091 0.60869565 0.52      ]
 [0.78481013 0.65909091 0.62318841 0.52      ]
 [0.64556962 0.56818182 0.43478261 0.44      ]
 [0.72151899 0.63636364 0.5942029  0.52      ]
 [0.79746835 0.75       0.86956522 1.        ]
 [0.73417722 0.61363636 0.73913043 0.76      ]
 [0.89873418 0.68181818 0.85507246 0.84      ]
 [0.79746835 0.65909091 0.8115942  0.72      ]
 [0.82278481 0.68181818 0.84057971 0.88      ]
 [0.96202532 0.68181818 0.95652174 0.84      ]
 [0.62025316 0.56818182 0.65217391 0.68      ]
 [0.92405063 0.65909091 0.91304348 0.72      ]
 [0.84810127 0.56818182 0.84057971 0.72      ]
 [0.91139241 0.81818182 0.88405797 1.        ]
 [0.82278481 0.72727273 0.73913043 0.8       ]
 [0.81012658 0.61363636 0.76811594 0.76      ]
 [0.86075949 0.68181818 0.79710145 0.84      ]
 [0.72151899 0.56818182 0.72463768 0.8       ]
 [0.73417722 0.63636364 0.73913043 0.96      ]
 [0.81012658 0.72727273 0.76811594 0.92      ]
 [0.82278481 0.68181818 0.79710145 0.72      ]
 [0.97468354 0.86363636 0.97101449 0.88      ]
 [0.97468354 0.59090909 1.         0.92      ]
 [0.75949367 0.5        0.72463768 0.6       ]
 [0.87341772 0.72727273 0.82608696 0.92      ]
 [0.70886076 0.63636364 0.71014493 0.8       ]
 [0.97468354 0.63636364 0.97101449 0.8       ]
 [0.79746835 0.61363636 0.71014493 0.72      ]
 [0.84810127 0.75       0.82608696 0.84      ]
 [0.91139241 0.72727273 0.86956522 0.72      ]
 [0.78481013 0.63636364 0.69565217 0.72      ]
 [0.7721519  0.68181818 0.71014493 0.72      ]
 [0.81012658 0.63636364 0.8115942  0.84      ]
 [0.91139241 0.68181818 0.84057971 0.64      ]
 [0.93670886 0.63636364 0.88405797 0.76      ]
 [1.         0.86363636 0.92753623 0.8       ]
 [0.81012658 0.63636364 0.8115942  0.88      ]
 [0.79746835 0.63636364 0.73913043 0.6       ]
 [0.7721519  0.59090909 0.8115942  0.56      ]
 [0.97468354 0.68181818 0.88405797 0.92      ]
 [0.79746835 0.77272727 0.8115942  0.96      ]
 [0.81012658 0.70454545 0.79710145 0.72      ]
 [0.75949367 0.68181818 0.69565217 0.72      ]
 [0.87341772 0.70454545 0.7826087  0.84      ]
 [0.84810127 0.70454545 0.8115942  0.96      ]
 [0.87341772 0.70454545 0.73913043 0.92      ]
 [0.73417722 0.61363636 0.73913043 0.76      ]
 [0.86075949 0.72727273 0.85507246 0.92      ]
 [0.84810127 0.75       0.82608696 1.        ]
 [0.84810127 0.68181818 0.75362319 0.92      ]
 [0.79746835 0.56818182 0.72463768 0.76      ]
 [0.82278481 0.68181818 0.75362319 0.8       ]
 [0.78481013 0.77272727 0.7826087  0.92      ]
 [0.74683544 0.68181818 0.73913043 0.72      ]]

In [25]:
##transform feature to follow normal distribution & reduces outliers
from sklearn.preprocessing import QuantileTransformer 
scaler=QuantileTransformer()
print(scaler.fit_transform(X))

[[0.24161074 0.8557047  0.11409396 0.12751678]
 [0.12416107 0.46644295 0.11409396 0.12751678]
 [0.06375839 0.67114094 0.04697987 0.12751678]
 [0.04362416 0.59060403 0.20134228 0.12751678]
 [0.17785235 0.88926174 0.11409396 0.12751678]
 [0.32550336 0.96979866 0.30536913 0.29530201]
 [0.04362416 0.79530201 0.11409396 0.24832215]
 [0.17785235 0.79530201 0.20134228 0.12751678]
 [0.01342282 0.34563758 0.11409396 0.12751678]
 [0.12416107 0.59060403 0.20134228 0.        ]
 [0.32550336 0.90939597 0.20134228 0.12751678]
 [0.08724832 0.79530201 0.26845638 0.12751678]
 [0.08724832 0.46644295 0.11409396 0.        ]
 [0.         0.46644295 0.00671141 0.        ]
 [0.51006711 0.97986577 0.01677852 0.12751678]
 [0.45973154 1.         0.20134228 0.29530201]
 [0.32550336 0.96979866 0.04697987 0.29530201]
 [0.24161074 0.8557047  0.11409396 0.24832215]
 [0.45973154 0.94295302 0.30536913 0.24832215]
 [0.24161074 0.94295302 0.20134228 0.24832215]
 [0.32550336 0.79530201 0.30536913 0.12751678]
 [0.24161074 0.90939597 0.20134228 0.29530201]
 [0.04362416 0.88926174 0.         0.12751678]
 [0.24161074 0.73489933 0.30536913 0.32214765]
 [0.08724832 0.79530201 0.32550336 0.12751678]
 [0.17785235 0.46644295 0.26845638 0.12751678]
 [0.17785235 0.79530201 0.26845638 0.29530201]
 [0.2852349  0.8557047  0.20134228 0.12751678]
 [0.2852349  0.79530201 0.11409396 0.12751678]
 [0.06375839 0.67114094 0.26845638 0.12751678]
 [0.08724832 0.59060403 0.26845638 0.12751678]
 [0.32550336 0.79530201 0.20134228 0.29530201]
 [0.2852349  0.98657718 0.20134228 0.        ]
 [0.36912752 0.99328859 0.11409396 0.12751678]
 [0.12416107 0.59060403 0.20134228 0.12751678]
 [0.17785235 0.67114094 0.01677852 0.12751678]
 [0.36912752 0.8557047  0.04697987 0.12751678]
 [0.12416107 0.88926174 0.11409396 0.        ]
 [0.01342282 0.46644295 0.04697987 0.12751678]
 [0.24161074 0.79530201 0.20134228 0.12751678]
 [0.17785235 0.8557047  0.04697987 0.24832215]
 [0.02684564 0.03691275 0.04697987 0.24832215]
 [0.01342282 0.67114094 0.04697987 0.12751678]
 [0.17785235 0.8557047  0.26845638 0.32885906]
 [0.24161074 0.94295302 0.32550336 0.29530201]
 [0.08724832 0.46644295 0.11409396 0.24832215]
 [0.24161074 0.94295302 0.26845638 0.12751678]
 [0.04362416 0.67114094 0.11409396 0.12751678]
 [0.30201342 0.90939597 0.20134228 0.12751678]
 [0.17785235 0.73489933 0.11409396 0.12751678]
 [0.91946309 0.67114094 0.61744966 0.54697987]
 [0.74496644 0.67114094 0.55369128 0.61744966]
 [0.90268456 0.59060403 0.68120805 0.61744966]
 [0.36912752 0.03691275 0.4261745  0.47651007]
 [0.78187919 0.26845638 0.59395973 0.61744966]
 [0.45973154 0.26845638 0.55369128 0.47651007]
 [0.69463087 0.73489933 0.61744966 0.67114094]
 [0.12416107 0.06040268 0.34563758 0.3557047 ]
 [0.80872483 0.34563758 0.59395973 0.47651007]
 [0.2852349  0.18791946 0.39597315 0.54697987]
 [0.17785235 0.         0.3590604  0.3557047 ]
 [0.54362416 0.46644295 0.47315436 0.61744966]
 [0.5738255  0.01342282 0.4261745  0.3557047 ]
 [0.61409396 0.34563758 0.61744966 0.54697987]
 [0.41275168 0.34563758 0.36912752 0.47651007]
 [0.84563758 0.59060403 0.51677852 0.54697987]
 [0.41275168 0.46644295 0.55369128 0.61744966]
 [0.51006711 0.18791946 0.45302013 0.3557047 ]
 [0.64765101 0.01342282 0.55369128 0.61744966]
 [0.41275168 0.09731544 0.39597315 0.38926174]
 [0.54362416 0.67114094 0.64765101 0.73489933]
 [0.61409396 0.26845638 0.4261745  0.47651007]
 [0.69463087 0.09731544 0.68120805 0.61744966]
 [0.61409396 0.26845638 0.61744966 0.41946309]
 [0.74496644 0.34563758 0.48993289 0.47651007]
 [0.80872483 0.46644295 0.51677852 0.54697987]
 [0.87919463 0.26845638 0.64765101 0.54697987]
 [0.84563758 0.46644295 0.70805369 0.68791946]
 [0.5738255  0.34563758 0.55369128 0.61744966]
 [0.45973154 0.1409396  0.3590604  0.3557047 ]
 [0.36912752 0.06040268 0.38255034 0.38926174]
 [0.36912752 0.06040268 0.37583893 0.3557047 ]
 [0.51006711 0.18791946 0.39597315 0.41946309]
 [0.5738255  0.18791946 0.74832215 0.67114094]
 [0.32550336 0.46644295 0.55369128 0.61744966]
 [0.5738255  0.79530201 0.55369128 0.67114094]
 [0.84563758 0.59060403 0.61744966 0.61744966]
 [0.69463087 0.03691275 0.51677852 0.47651007]
 [0.41275168 0.46644295 0.45302013 0.47651007]
 [0.36912752 0.09731544 0.4261745  0.47651007]
 [0.36912752 0.1409396  0.51677852 0.41946309]
 [0.61409396 0.46644295 0.59395973 0.54697987]
 [0.51006711 0.1409396  0.4261745  0.41946309]
 [0.17785235 0.03691275 0.34563758 0.3557047 ]
 [0.41275168 0.18791946 0.47315436 0.47651007]
 [0.45973154 0.46644295 0.47315436 0.41946309]
 [0.45973154 0.34563758 0.47315436 0.47651007]
 [0.64765101 0.34563758 0.48993289 0.47651007]
 [0.24161074 0.09731544 0.33557047 0.38926174]
 [0.45973154 0.26845638 0.45302013 0.47651007]
 [0.69463087 0.73489933 0.93624161 1.        ]
 [0.51006711 0.18791946 0.74832215 0.79194631]
 [0.9261745  0.46644295 0.92281879 0.86912752]
 [0.69463087 0.34563758 0.8557047  0.73489933]
 [0.78187919 0.46644295 0.90604027 0.89932886]
 [0.96644295 0.46644295 0.97986577 0.86912752]
 [0.12416107 0.09731544 0.55369128 0.68791946]
 [0.95302013 0.34563758 0.96644295 0.73489933]
 [0.84563758 0.09731544 0.90604027 0.73489933]
 [0.93959732 0.88926174 0.95637584 1.        ]
 [0.78187919 0.67114094 0.74832215 0.82885906]
 [0.74496644 0.18791946 0.79194631 0.79194631]
 [0.87919463 0.46644295 0.82885906 0.86912752]
 [0.45973154 0.09731544 0.70805369 0.82885906]
 [0.51006711 0.26845638 0.74832215 0.96979866]
 [0.74496644 0.67114094 0.79194631 0.93624161]
 [0.78187919 0.46644295 0.82885906 0.73489933]
 [0.97986577 0.94295302 0.98657718 0.89932886]
 [0.97986577 0.1409396  1.         0.93624161]
 [0.5738255  0.01342282 0.70805369 0.61744966]
 [0.90268456 0.67114094 0.88590604 0.93624161]
 [0.41275168 0.26845638 0.68120805 0.82885906]
 [0.97986577 0.26845638 0.98657718 0.82885906]
 [0.69463087 0.18791946 0.68120805 0.73489933]
 [0.84563758 0.73489933 0.88590604 0.86912752]
 [0.93959732 0.67114094 0.93624161 0.73489933]
 [0.64765101 0.26845638 0.64765101 0.73489933]
 [0.61409396 0.46644295 0.68120805 0.73489933]
 [0.74496644 0.26845638 0.8557047  0.86912752]
 [0.93959732 0.46644295 0.90604027 0.67114094]
 [0.95973154 0.26845638 0.95637584 0.79194631]
 [1.         0.94295302 0.97315436 0.82885906]
 [0.74496644 0.26845638 0.8557047  0.89932886]
 [0.69463087 0.26845638 0.74832215 0.61744966]
 [0.61409396 0.1409396  0.8557047  0.54697987]
 [0.97986577 0.46644295 0.95637584 0.93624161]
 [0.69463087 0.79530201 0.8557047  0.96979866]
 [0.74496644 0.59060403 0.82885906 0.73489933]
 [0.5738255  0.46644295 0.64765101 0.73489933]
 [0.90268456 0.59060403 0.80872483 0.86912752]
 [0.84563758 0.59060403 0.8557047  0.96979866]
 [0.90268456 0.59060403 0.74832215 0.93624161]
 [0.51006711 0.18791946 0.74832215 0.79194631]
 [0.87919463 0.67114094 0.92281879 0.93624161]
 [0.84563758 0.73489933 0.88590604 1.        ]
 [0.84563758 0.46644295 0.78187919 0.93624161]
 [0.69463087 0.09731544 0.70805369 0.79194631]
 [0.78187919 0.46644295 0.78187919 0.82885906]
 [0.64765101 0.79530201 0.80872483 0.93624161]
 [0.54362416 0.46644295 0.74832215 0.73489933]]

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_data.py:2593: UserWarning: n_quantiles (1000) is greater than the total number of samples (150). n_quantiles is set to n_samples.
  "n_samples." % (self.n_quantiles, n_samples)

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=47)
print(X_train,y_train)
print(X_test,y_test)

[[6.7 2.5 5.8 1.8]
 [6.1 3.  4.6 1.4]
 [7.3 2.9 6.3 1.8]
 [5.1 3.8 1.6 0.2]
 [6.  3.  4.8 1.8]
 [4.9 3.6 1.4 0.1]
 [4.8 3.4 1.9 0.2]
 [5.  3.3 1.4 0.2]
 [6.9 3.1 5.1 2.3]
 [5.  3.5 1.3 0.3]
 [6.2 2.9 4.3 1.3]
 [5.8 4.  1.2 0.2]
 [6.3 3.3 6.  2.5]
 [5.1 3.4 1.5 0.2]
 [7.7 2.8 6.7 2. ]
 [4.6 3.6 1.  0.2]
 [7.2 3.2 6.  1.8]
 [4.8 3.1 1.6 0.2]
 [6.3 2.9 5.6 1.8]
 [6.3 2.5 5.  1.9]
 [4.5 2.3 1.3 0.3]
 [5.  2.  3.5 1. ]
 [6.4 3.2 5.3 2.3]
 [6.6 2.9 4.6 1.3]
 [5.1 3.5 1.4 0.3]
 [4.8 3.  1.4 0.3]
 [5.9 3.  4.2 1.5]
 [6.2 3.4 5.4 2.3]
 [6.8 3.2 5.9 2.3]
 [4.4 3.  1.3 0.2]
 [4.3 3.  1.1 0.1]
 [5.4 3.4 1.7 0.2]
 [6.1 2.9 4.7 1.4]
 [5.  2.3 3.3 1. ]
 [4.7 3.2 1.6 0.2]
 [5.2 4.1 1.5 0.1]
 [6.7 3.3 5.7 2.5]
 [7.4 2.8 6.1 1.9]
 [5.6 2.5 3.9 1.1]
 [4.8 3.  1.4 0.1]
 [4.9 2.5 4.5 1.7]
 [6.4 2.8 5.6 2.2]
 [6.4 3.1 5.5 1.8]
 [7.2 3.6 6.1 2.5]
 [5.  3.  1.6 0.2]
 [6.8 2.8 4.8 1.4]
 [4.6 3.4 1.4 0.3]
 [5.8 2.7 3.9 1.2]
 [5.  3.4 1.6 0.4]
 [6.  2.7 5.1 1.6]
 [6.8 3.  5.5 2.1]
 [7.2 3.  5.8 1.6]
 [5.1 2.5 3.  1.1]
 [6.5 3.  5.8 2.2]
 [6.4 2.7 5.3 1.9]
 [5.5 2.5 4.  1.3]
 [6.4 2.8 5.6 2.1]
 [6.3 2.8 5.1 1.5]
 [5.8 2.7 5.1 1.9]
 [5.4 3.9 1.3 0.4]
 [6.2 2.8 4.8 1.8]
 [4.7 3.2 1.3 0.2]
 [6.6 3.  4.4 1.4]
 [5.2 3.4 1.4 0.2]
 [7.7 2.6 6.9 2.3]
 [5.4 3.  4.5 1.5]
 [6.4 3.2 4.5 1.5]
 [5.5 2.6 4.4 1.2]
 [5.4 3.4 1.5 0.4]
 [6.9 3.1 5.4 2.1]
 [6.  3.4 4.5 1.6]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [6.7 3.  5.  1.7]
 [6.3 3.3 4.7 1.6]
 [4.4 3.2 1.3 0.2]
 [6.4 2.9 4.3 1.3]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.5 0.3]
 [5.1 3.7 1.5 0.4]
 [5.2 3.5 1.5 0.2]
 [5.5 4.2 1.4 0.2]
 [5.7 2.6 3.5 1. ]
 [6.7 3.1 4.7 1.5]
 [5.9 3.2 4.8 1.8]
 [4.9 2.4 3.3 1. ]
 [4.9 3.1 1.5 0.1]
 [5.8 2.7 5.1 1.9]
 [6.9 3.1 4.9 1.5]
 [5.  3.2 1.2 0.2]
 [5.  3.6 1.4 0.2]
 [5.5 2.4 3.7 1. ]
 [5.7 3.  4.2 1.2]
 [6.5 3.2 5.1 2. ]
 [5.6 3.  4.5 1.5]
 [5.6 2.9 3.6 1.3]
 [4.9 3.1 1.5 0.2]
 [5.8 2.6 4.  1.2]
 [6.1 2.8 4.7 1.2]
 [5.3 3.7 1.5 0.2]
 [5.5 2.3 4.  1.3]
 [5.9 3.  5.1 1.8]
 [6.7 3.  5.2 2.3]
 [6.3 2.7 4.9 1.8]
 [6.3 2.3 4.4 1.3]
 [6.7 3.1 4.4 1.4]
 [5.8 2.8 5.1 2.4]
 [7.  3.2 4.7 1.4]
 [5.7 2.8 4.5 1.3]
 [5.7 2.5 5.  2. ]
 [6.5 3.  5.2 2. ]
 [5.  3.4 1.5 0.2]
 [5.2 2.7 3.9 1.4]
 [5.1 3.3 1.7 0.5]
 [5.5 2.4 3.8 1.1]
 [6.3 2.5 4.9 1.5]
 [4.4 2.9 1.4 0.2]
 [6.1 2.8 4.  1.3]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]] [2 1 2 0 2 0 0 0 2 0 1 0 2 0 2 0 2 0 2 2 0 1 2 1 0 0 1 2 2 0 0 0 1 1 0 0 2
 2 1 0 2 2 2 2 0 1 0 1 0 1 2 2 1 2 2 1 2 2 2 0 2 0 1 0 2 1 1 1 0 2 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 1 0 2 1 0 0 1 1 2 1 1 0 1 1 0 1 2 2 2 1 1 2 1 1 2 2
 0 1 0 1 1 0 1 2 2]
[[5.4 3.7 1.5 0.2]
 [5.1 3.5 1.4 0.2]
 [5.7 2.9 4.2 1.3]
 [5.4 3.9 1.7 0.4]
 [5.7 4.4 1.5 0.4]
 [7.6 3.  6.6 2.1]
 [5.6 3.  4.1 1.3]
 [6.9 3.2 5.7 2.3]
 [5.6 2.7 4.2 1.3]
 [4.6 3.2 1.4 0.2]
 [6.5 3.  5.5 1.8]
 [4.6 3.1 1.5 0.2]
 [5.7 2.8 4.1 1.3]
 [7.9 3.8 6.4 2. ]
 [6.1 3.  4.9 1.8]
 [7.1 3.  5.9 2.1]
 [6.  2.2 4.  1. ]
 [4.9 3.  1.4 0.2]
 [5.7 3.8 1.7 0.3]
 [5.5 3.5 1.3 0.2]
 [6.7 3.1 5.6 2.4]
 [6.5 2.8 4.6 1.5]
 [5.6 2.8 4.9 2. ]
 [6.  2.2 5.  1.5]
 [6.7 3.3 5.7 2.1]
 [7.7 3.8 6.7 2.2]
 [6.  2.9 4.5 1.5]
 [6.3 3.4 5.6 2.4]
 [4.8 3.4 1.6 0.2]
 [5.1 3.8 1.9 0.4]] [0 0 1 0 0 2 1 2 1 0 2 0 1 2 2 2 1 0 0 0 2 1 2 2 2 2 1 2 0 0]

In [27]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(120, 4) (120,)
(30, 4) (30,)

In [29]:
from google.colab import files
uploaded = files.upload()

Saving insurance.csv to insurance.csv

In [30]:
import pandas as pd
import numpy as np
import io
df = pd.read_csv(io.BytesIO(uploaded['insurance.csv']))

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [32]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [33]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [34]:
categorical_names=['sex','children','smoker','region']
df_encoder=pd.get_dummies(data=df,prefix='OHE',prefix_sep='_',columns=categorical_names,drop_first=True,dtype='int8')
df_encoder

,age,bmi,charges,OHE_male,OHE_1,OHE_2,OHE_3,OHE_4,OHE_5,OHE_yes,OHE_northwest,OHE_southeast,OHE_southwest
0,19,27.900,16884.92400,0,0,0,0,0,0,1,0,0,1
1,18,33.770,1725.55230,1,1,0,0,0,0,0,0,1,0
2,28,33.000,4449.46200,1,0,0,1,0,0,0,0,1,0
3,33,22.705,21984.47061,1,0,0,0,0,0,0,1,0,0
4,32,28.880,3866.85520,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,10600.54830,1,0,0,1,0,0,0,1,0,0
1334,18,31.920,2205.98080,0,0,0,0,0,0,0,0,0,0
1335,18,36.850,1629.83350,0,0,0,0,0,0,0,0,1,0
1336,21,25.800,2007.94500,0,0,0,0,0,0,0,0,0,1
1337,61,29.070,29141.36030,0,0,0,0,0,0,1,1,0,0

In [35]:
X=df_encoder.drop(['charges'],axis=1)
X

,age,bmi,OHE_male,OHE_1,OHE_2,OHE_3,OHE_4,OHE_5,OHE_yes,OHE_northwest,OHE_southeast,OHE_southwest
0,19,27.900,0,0,0,0,0,0,1,0,0,1
1,18,33.770,1,1,0,0,0,0,0,0,1,0
2,28,33.000,1,0,0,1,0,0,0,0,1,0
3,33,22.705,1,0,0,0,0,0,0,1,0,0
4,32,28.880,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,1,0,0,1,0,0,0,1,0,0
1334,18,31.920,0,0,0,0,0,0,0,0,0,0
1335,18,36.850,0,0,0,0,0,0,0,0,1,0
1336,21,25.800,0,0,0,0,0,0,0,0,0,1
1337,61,29.070,0,0,0,0,0,0,1,1,0,0

In [36]:
y=df_encoder['charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [37]:
from sklearn.preprocessing import OneHotEncoder
from numpy import asarray
x=asarray([['male','chrome','from UK',4],['female','safari','from India',5],['female','Opera','from US',6]])
encoder=OneHotEncoder()
output=encoder.fit_transform(x)
print(output)

  (0, 1)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (1, 0)	1.0
  (1, 4)	1.0
  (1, 5)	1.0
  (1, 9)	1.0
  (2, 0)	1.0
  (2, 2)	1.0
  (2, 7)	1.0
  (2, 10)	1.0

In [38]:
from sklearn.preprocessing import OrdinalEncoder
from numpy import asarray
x=asarray([['male','chrome','from UK',4],['female','safari','from India',5],['female','Opera','from US',6]])
encoder=OrdinalEncoder()
output=encoder.fit_transform(x)
print(output)

[[1. 1. 1. 0.]
 [0. 2. 0. 1.]
 [0. 0. 2. 2.]]